# Use python>=3.10 1. install pytorch; 2. install requirements; 3. install cuml (from official website); 4. tinycudann
# torch==1.13.1
# torchvision==0.14.1
pytorch-lightning==2.0.1
einops==0.3.0
test-tube==0.7.5
kornia==0.4.1
opencv-python
matplotlib
jupyter
imageio
imageio-ffmpeg
pandas
torch_optimizer

# for phototourism visualization
# plotly

# for mesh
PyMCubes
pycollada
trimesh
pyglet
networkx

# for point cloud
plyfile
open3d

ConfigArgParse
pyrender
transformers
omegaconf
wandb